/*Sección misión Hospital*/
.mision {
    display: flex;
    gap: 10px; 
    padding: 60px;
}

.mision__left, .mision__right {
    flex: 1; /* Hace que cada columna ocupe el mismo espacio */
}

/*Sección responsive*/

@media (max-width: 417px){
    .mision {
        display: block; /* muestra los elementos como elementos de lista*/;
        gap: 20px; 
        padding: 10px;
    }
    
    .mision__left, .mision__right {
        width: 100%;
        margin-bottom: 20px;
    }
  }
 