$primary-color: blue;
$secondary-color: white;
$default-margin: 5px;


.section {
    &__title {
        text-align: center;
    }

    &__text {
        text-align: center;
    }

    &__post {
        &__title {
            text-align: left;
        }

        &__text {
            text-align: left;
        }
    }
}

.team {
    display: flex;
    justify-content: center;
    &__member {
        &__name{
            text-align: center;
        }
        &__img {
            width: 300px;
        }
    }
}

.section__post__image {
    display: block;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}