//variables globales
$fuente-principal: 'Lato', sans-serif;
$color-principal:  #e6f7ff;
$lista-sin-estilo: none;
$color-secundario: #183e9f;
$color-terciario: #64ebb6;
$color-enfasis: #1b9ce4;
$navbar-bg: #183e9f;
$navbar-light-color: #183e9f;

