@use '../module/variables.scss' as *;
@use '../module/mixins.scss' as *;

.title{
    margin-top: 50px;
    margin-bottom: 50px;
    @include important-text;
}

.bottom{
    text-align: center;
}

.footer{
    position:absolute;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
}